/* General */
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Font/Helvetica.ttf") format("truetype");
}

body {
  font-family: "Helvetica";
}

.txt-morado {
  color: #a1185b !important;
}

/* End general*/

#carouselHome .text-caption {
  position: absolute;
  bottom: 0;
  left: 5%;
  right: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
  height: 100%;
  width: 35%;
  opacity: 0.8;
  background-color: #000;
}

.bg-degradado {
  /*background-image: url('img/nosotros/degradient.png');
    background-size: cover;*/
  background: linear-gradient(
    35deg,
    rgba(1, 1, 1, 1) 5%,
    rgba(80, 80, 80, 1) 50%,
    rgba(1, 1, 1, 1) 95%
  );
}

.bg-negro {
  background: #030303 !important;
}

.img-copyright-size {
  width: 20%;
}

.h-card-service {
  height: 400px !important;
}

.imgAsistenteVirtual {
  background: url(../img/servicios/asistente-virtual.jpg) no-repeat;
  background-size: cover;
  cursor: pointer;
}

.imgAsistenteVirtual:hover {
  background: url(../img/servicios/background.jpg) no-repeat;
  background-size: cover;
}

.imgAnalisisYAsesoria {
  background: url(../img/servicios/analisis-y-asesoria.jpg) no-repeat;
  background-size: cover;
  cursor: pointer;
}

.imgAnalisisYAsesoria:hover {
  background: url(../img/servicios/background.jpg) no-repeat;
  background-size: cover;
}

.imgAnalisisYAsesoria {
  background: url(../img/servicios/analisis-y-asesoria.jpg) no-repeat;
  background-size: cover;
  cursor: pointer;
}

.imgAnalisisYAsesoria:hover {
  background: url(../img/servicios/background.jpg) no-repeat;
  background-size: cover;
}

.imgCabildeo {
  background: url(../img/servicios/cabildeo.jpg) no-repeat;
  background-size: cover;
  cursor: pointer;
}

.imgCabildeo:hover {
  background: url(../img/servicios/background.jpg) no-repeat;
  background-size: cover;
}

.imgVinculacion {
  background: url(../img/servicios/vinculacion.jpg) no-repeat;
  background-size: cover;
  cursor: pointer;
}

.imgVinculacion:hover {
  background: url(../img/servicios/background.jpg) no-repeat;
  background-size: cover;
}

.imgNegociacion {
  background: url(../img/servicios/negociacion.jpg) no-repeat;
  background-size: cover;
  cursor: pointer;
}

.imgNegociacion:hover {
  background: url(../img/servicios/background.jpg) no-repeat;
  background-size: cover;
}

.imgCumplimientoRegulatorio {
  background: url(../img/servicios/cumplimiento-regulatorio.jpg) no-repeat;
  background-size: cover;
  cursor: pointer;
}

.imgCumplimientoRegulatorio:hover {
  background: url(../img/servicios/background.jpg) no-repeat;
  background-size: cover;
}

.bg-sector-privado {
  background-image: url(../img/para-quien-es/sector-privado.jpg);
  background-size: cover;
  cursor: pointer;
}

.bg-sector-publico {
  background-image: url(../img/para-quien-es/sector-publico.jpg);
  background-size: cover;
  cursor: pointer;
}

.whatsapp {
  position: fixed;
  width: 64px;
  height: 64px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  /*background-color: #A1195B;*/
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 40px;
  z-index: 100;
}

.whatsapp:hover {
  color: #fff;
}

.whatsappme_tooltip {
  position: absolute;
  top: 12px;
  right: 66px;
  max-width: calc(100vw - 105px);
  height: 44px;
  padding: 5px 18px;
  border: none;
  background-image: url(../img/whatsapp/background-right.png);
  /*background-size: contain;*/
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #075e54;
  line-height: 31px;
  white-space: nowrap;
  opacity: 1;
  font-size: 15px;
}

.nav-link {
  padding: 0.2rem 1rem;
}

.bg-dark {
  background-color: #0b0b0b !important;
}

.gradient-title-service {
  background: linear-gradient(
    45deg,
    rgba(80, 80, 80, 1) 5%,
    rgba(1, 1, 1, 1) 50%,
    rgba(80, 80, 80, 1) 95%
  );
}

.h-card-sectores {
  height: 500px !important;
}

.btn-enviar {
  background: linear-gradient(
    168deg,
    rgba(161, 64, 104, 1) 35%,
    rgba(139, 19, 78, 1) 87%
  );
  border: none;
  color: white;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 26px;
  box-shadow: 2px 4px 8px #333233;
}

.btn-services {
  background: linear-gradient(
    90deg,
    rgba(171, 93, 107, 1) 0%,
    rgba(143, 28, 85, 1) 50%,
    rgba(161, 25, 91, 1) 100%
  );
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 18px 18px 0 0;
  position: absolute;
  bottom: 0px;
  left: 15%;
  right: 15%;
}

.btn-services:hover {
  color: #fff;
}

.line-divider {
  border-bottom: 3px solid #a1195b;
}

.text-headline {
  width: 100% !important;
  text-align: center !important;
  font-family: "Helvetica" !important;
  font-weight: bold !important;
  font-style: normal !important;
}

.title-nosotros-size {
  width: 65%;
}

.title-servicios-size {
  width: 20%;
}

.bg-porque-nosotros {
  background-image: url(../img/por-que-nosotros/background.jpg);
  background-size: cover;
}

.br-hidden-phone {
  display: block;
}

.preloader-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 999999;
  background: #a1185b;
}

.la-ball-triangle-path {
  position: relative;
  top: 50%;
  left: 50%;
}

@media only screen and (max-width: 576px) {
  #carouselHome .text-caption {
    right: 5%;
    width: 90%;
  }

  .title-nosotros-size {
    width: 50%;
  }

  .title-servicios-size {
    width: 50%;
  }

  .img-copyright-size {
    width: 60%;
  }

  .bg-porque-nosotros {
    background: #030303;
  }

  .br-hidden-phone {
    display: none;
  }
}

@media only screen and (min-width: 1400px) {
  .h-card-service {
    height: 460px !important;
  }
}
